.gallery-post {
    margin-top: 30px;
}


.c_center{
    margin-bottom: 30px;
}

.c_margin_top_20{
    margin-top: 30px;
}


.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    text-transform: capitalize;
    /* background-color: - add your own background-color */
    font-family: 'Roboto', sans-serif;
    /* put your font-family */
    font-size: 18px;
    padding: 10px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
    border-color: darkgrey;
}

/* effect-1 styles */
.effect.effect-1 {
    transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
    text-indent: -20px;
    color: black!important;
}
.effect.effect-1:hover:before {
    opacity: 1;
    text-indent: 0px;
}

.c_nav_pill{
    color: black;
    margin-top: 20px;
}

.c_nav_pill li a:hover{
    color: black!important;
}




/*PEN STYLES*/


.blog-card {
    float: left;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.blog-card a {
    color: inherit;
}
.blog-card a:hover {
    color: #5ad67d;
}
.blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}
.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}
.blog-card .details ul li {
    display: inline-block;
}
.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
}
.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
}
.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}
.blog-card .details .tags li {
    margin-right: 2px;
}
.blog-card .details .tags li:first-child {
    margin-left: -4px;
}
.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.blog-card .description .read-more {
    text-align: right;
}
.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}
.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card:hover .details {
    left: 0%;
}
@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 1000px;
        min-height: 400px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
        float: right!important;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}



.card h1{
    opacity: 0.1;
    font-family: calibri;
    font-size: 180px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    ;
}

.card {
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    font-family: calibri;
    width: 250px;
    min-height: 250px;
    position: relative;
    margin: 100px auto 0;
    text-align: center;
    box-sizing: border-box;
    transition: all 1s;
    cursor: pointer;
}
.card:before {
    /*content: "";*/
    /*!*background: transparent url(https://images.unsplash.com/photo-1484611941511-3628849e90f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80) no-repeat center center;*!*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*display: block;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*border-radius: 15px;*/
    /*transition: all 1.4s;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*top: 0;*/
}
.card:hover:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}
.card .card-inner {
    padding: 15px;
    height: 250px;
}
.card h2 {
    font-size: 35px;
    color: #00b894;
    margin-top: 50px;
    color: rgb(15, 97, 160);
}
.card h3 {
    font-size: 25px;
    margin-top: -25px;
    font-weight: normal;
}

.card p {
    font-size: 25px;
    /*margin-top: -25px;*/
    font-weight: normal;
}


.card h3:after {
    height: 1px;
    width: 30px;
    content: "";
    background: #000;
    display: block;
    margin: 20px auto 0;
}
.card button {
    display: block;
    background: #00b894;
    padding: 10px 15px;
    border: 1px solid #00b894;
    color: #fff;
    text-transform: uppercase;
    margin: 25px auto 0;
    cursor: pointer;
}




@media screen and (max-width: 768px) {
    .c_students{
        display: none!important;
    }

    .c_students_whole{
        height: 300px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1026px) {
    body{
        padding-bottom: 0!important;
    }
}


/*===================================================xebrler hissesi=======================================================================*/

.c_mobil_news{
    display: none;
}

.c_mobil_news_button{
    display: none;
}

@media screen and (max-width: 1200px) {

    .c_mobil_news_button{
        display: inline-block;
    }


    .c_news{
        display: none;
    }

    .c_mobil_news{
        display: inline-block;
        width: 100%;
        min-height: 400px;
        margin-top: 50px;
        margin-bottom: 30px;
        /*background-color: red;*/
    }

    .c_news_content{
        max-width: 70%;
        margin: 0 auto;
        min-height: 200px;
        margin-bottom: 30px;
        background-color: goldenrod;
    }
}


@media screen and (min-width: 992px) {

    #c_new_4{
        display: none;
    }

}


.c_3{
    max-width: 1300px!important;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 480px) {
    .c_3{
        margin-top: 140px;
    }
}



.c_navbar_mobil_lang{
    margin-top: 55px!important;
    margin-bottom: 15px!important;
}

.c_dl_menu{
    padding-bottom: 7px!important;
}



@media screen and (max-width: 1236px) {
    .main_menu_wrap{
        display: none!important;
    }

    #dl-menu{
        display: inline-block!important;
    }

    .dl-trigger{
        display: inline-block!important;
    }

}
.main_menu_wrap{
    /*width: 865px!important;*/
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    /*float: left;*/
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}



.pagination strong{
    /*color: black;*/
    /*float: left!important;*/
    padding: 8px 16px!important;
    text-decoration: none!important;
    transition: background-color .3s!important;
    background-color: #098be2;
    color: white;
}

.pagination a.active {
    background-color: #098be2;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}


.c_object_fit{
    object-fit: cover;
}

@media only screen and (max-width: 521px) {
    .c_responsive_button_for_slide{
        left: -900px !important;
    }
}


@media only screen and (max-width: 480px) {
    .c_text{
        font-size: 17px;
    }
}

@media only screen and (max-width: 412px) {
    .c_text{
        margin-top: 100px;
        font-size: 12px;
    }
}


@media only screen and (max-width: 777px) {
    .c_text{
        margin-top: 200px;
        font-size: 20px;
    }
}


@media only screen and (max-width: 720px) {
    .c_text{
        margin-top: 160px;
        font-size: 17px;
    }
}

.c_main_menu_wrap{
    width: 100% !important;
}


.dropbtn{
    cursor: pointer;
    padding: 32px 0 33px;
    margin: 0px 14px;
    font-size: 15px;
    color: #3b4351;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 500;
    display: block;
    /*padding: 20px 0 20px;*/

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    top: 55px;
    left: 15px;
    min-height: 60px;
    display: none;
    position: absolute;
    background-color: #eaecf1;
    max-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom: 7px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.c_hr{
    border-width: 5px;
}



.c_slide_title{
    font-size: 15px;
}

.c_slide_title_div{
    width: 100%;
    height: 100%;
    background-color: rgba(26, 18, 18, 0.48);
    padding: 10px 15px;
}

.c_padding0{
    padding: 0!important;
}

.c_language_flag{
    height: 25px;
    padding-top: 5px!important;
}

.c_language_flag img{
    margin-top: 5px!important;
}

.c_dropdown_content{
    z-index: 999!important;
}

.c_wrapper{
    max-width: 1250px;
}

@media only screen and (max-width: 768px) {
    .c_course_block{
        height: 400px!important;
    }
}

.c_hover_color:hover{
    opacity: 0.7!important;
    color: white;
}


.c_hr2{
    width: 50%;
    border-width: 2px;
    margin: 0!important;
    margin-top: 10px!important;
}


@media only screen and (max-width: 991px) {
    .logoIMG{
        width: 100px!important;
    }
}

@media only screen and (max-width: 801px) {
    .logoIMG{
        width: 70px!important;
    }
}

@media only screen and (max-width: 436px) {
    .c_teacher_name{
        font-size: 21px!important;
    }

    .c_card_title2{
        font-size: 18px!important;
        color: dimgrey;
    }

}


.c_text{
    background: #d6ffd1;
    float: left;
    margin: 0% 6%;
    max-height: 25em;
    padding-top: 11em;
    position: relative;
    vertical-align: middle;
}

body{
    font-family: Palatino Linotype!important;
}

.c_img_hover{
    margin:4px;
    width:175px!important;
    height: 100px!important;
    transform: scale(1)!important;
    object-fit: cover;
    filter: brightness(100%) !important;
}

.c_img_hover:hover{
    filter: brightness(90%)!important;
}






.c2_container {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 720px;
    min-height: 350px;
    background: #fffefe;
    box-shadow: 5px 5px 15px rgba(26, 18, 18, 0.24);
    border-radius: 10px;
    padding: 15px!important;
    margin-bottom: 40px;
}

.c2_desc{
    margin-top: 20px;
}

.c2_images{
    /*width: 290px;*/
    margin-top: 20px;
    /*width: 200px;*/
    /*height: 200px;*/
    object-fit: cover;
    padding-right: 9px!important;
    padding-left: 0!important;
}


.c2_images img{
    width: 100%;
    height: 156px!important;
    object-fit: contain;
}


.c_card_title2{
    font-size: 15px;
    margin-top: 0px;
}


.c_size{
    font-size: 16px!important;
}



/*footer start*/

/*------------------------------------- footer start ---------------------------*/


.backgroun{
    background: #29485B;
}
.padding1{
    padding: 3px;
}
.footerLogo{
    height:inherit;

    background: #29485B;
    color: white;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
}
.footerLogo ul{
    list-style: none;
    height: 63px;
    background: black;
    background: #29485B;


}
.footerLogo ul li{
    float: left;
    height: 50px;
    margin-left: 6px;
    background: #29485B;

}
.footerLogo ul li img{
    /*width: 100%;*/
    height: 50px;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
}
.footerLogo ul li img:hover{
    opacity: 1;
    cursor: pointer;
}

.footerSosial{
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.copyright{
    font-size: 20px;
    color: white;
    font-family: Tahoma;
}
.iconColor{
    padding-top: 0px;
    color: white;
}

.marb{
    padding-bottom: 15px;
}

.c_icon_footer{
    font-size: 19px;
}


.c_president{
    line-height: 54px;
    opacity: 0.6;
}

.footer_logo_special:hover .c_president{
    opacity: 1;
    color: white;
}

.footer_logo_special:hover{
    color: white;
}


.c_president:hover .footer_logo_special{
    opacity: 1;
}


.c_2019{
    background: transparent!important;
}
/*------------------------------------- footer end   ---------------------------*/

/*footer end*/




.meta{
    min-width: 421px;
}